* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2px 5px -2px #868687;
}

nav > .logo {
  max-width: 100px;
  /* margin: 12px 25px; */
  /* width: 130px; */
}
